/*
Theme Name: Evolved Child
Description: The Child for Evolved
Author: WP-Evolved
Author URI: https://github.com/wp-evolved/
Version: 0.1.0
Template: evolved-parent-theme
*/

/* File only for displaying theme info in Wordpress. CSS styles are located in this child theme at assets/dist/style.min.css and are compiled from assets/src/scss/ */
