/*------------------------------------*\
    $SETTINGS
\*------------------------------------*/
/**
 * Set up project-specific variables here which are then used throughout your
 * build. These variables are automatically picked up by inuit.css so you should
 * never need to modify any framework code.
 */


/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
$debug-mode:  false!default;


/**
 * Do you want all elements to adopt `box-sizing:border-box;` as per
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
$global-border-box: true!default;


/**
 * Would you like to use Adam Whitcroft’s Batch icon font, as per:
 * adamwhitcroft.com/batch ?
 */
$batch: false!default;


/**
 * Base stuff
 */
$base-font-size:    17px!default;
$base-line-height:  24px!default;
$base-spacing-unit: 20px!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;


/**
 * How big would you like round corners to be by default?
 */
$global-round: 4px!default;


/**
 * Responsiveness?
 */
$responsive:      false!default;
$flexible-media:  true!default;


/**
 * Responsive push and pull produce a LOT of code, only turn them on if you
 * definitely need them.
 */
$responsive-push: false!default;
$responsive-pull: false!default;


/**
 * Tell inuit.css when breakpoints start.
 */
$lap-start:   481px!default;
$desk-start:  1024px!default;


/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$size-giga:     96px;
$size-mega:     72px;
$size-kilo:     42px;

$size-alpha:    36px; // h1-size
$size-beta:     30px; // h2-size
$size-gamma:    30px; // h3-size
$size-delta:    20px; // h4-size
$size-epsilon:  17px; // h5-site
$size-zeta:     14px; // h6-size

$size-milli:    12px;
$size-micro:    10px;


/**
 * English quote marks?
 */
$english-quotes:  true!default;

/**
 * If you want English quotes then please do not edit these; they’re only here
 * because Sass needs them.
 */
$open-quote:  null;
$close-quote: null;


/**
 * If you need non-English quotes, please alter the following values accordingly:
 */
@if $english-quotes != true{
    $open-quote:  «;
    $close-quote: »;
}


/**
 * Typography
 */
$font-primary:    "Sentinel A", "Sentinel B" Georgia, serif;
$font-secondary:  "Tungsten A", "Tungsten B", Helvetica, Arial, sans-serif;


/**
 * Color Variables
 */
$color-primary:         #00304c;
$color-secondary:       #6ab7cb;
$color-tertiary:        #e36f14;
$color-tertiary-tinted:	#c46013;
$color-background:      #fff;
$color-bg-tinted:       #efeee7;
$color-text:            $color-primary;
$color-text-required:   #b1b3b6;
$color-bg-header:       $color-bg-tinted;
$color-bg-nav:          $color-secondary;
$color-bg-footer:       $color-bg-tinted;
$color-link-regular:    $color-tertiary;
$color-link-active:     $color-tertiary-tinted;
$color-button-regular:  $color-tertiary;
$color-button-active:   $color-tertiary-tinted;

$color-brand-twitter:   #2cbfed;
$color-brand-facebook:  #3a5898;
$color-brand-gplus:     #db4a39;
$color-mail:            #1c1c1c;

