/*------------------------------------*\
    $BLOCK-LIST
\*------------------------------------*/
/**
 * Create big blocky lists of content, e.g.:
 *
  <ul class="block-list">
    <li>Foo</li>
    <li><a href="#">Bar</a></li>
    <li>Baz</li>
    <li><a href="#" class="block-list__link">Foo Bar Baz</a></li>
  </ul>
 *
 * Extend this object in your theme stylesheet.
 *
 * Demo: jsfiddle.net/inuitcss/hR57q
 *
 */

.block-list {
  @extend .unstyled-list;

  border-top-width: 1px;

  &,
  > li {
    border: 0 solid #ccc; /* Override this color in your theme stylesheet */
  }

  > li {
    border-bottom: 1px;
    padding: $half-spacing-unit;
  }
}

.block-list__link {
  display: block;
  padding: $half-spacing-unit;
  margin: -$half-spacing-unit;
}