/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/**
 * Basic button structural styling. Extend in your theme stylesheet.
 *
 * Demo: jsfiddle.net/inuitcss/RqHcp
 *
 */
.btn {
  -webkit-appearance: none;
  border: none;

  background-color: $color-button-regular;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  margin: 0;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  /**
   * Set padding in ems so we can change the size of a button by merely
   * altering its `font-size`.
   */
  padding: pxtoem(22px, $base-font-size) pxtoem(8px, $base-font-size) pxtoem(25px, $base-font-size);

  &:hover {
    background-color: $color-button-active;
    color: #fff;
    text-decoration: none;
  }
}


/**
 * Basic button modifiers
 */
.btn--sml {
  font-size: .75em;
}

.btn--lrg {
  font-size: 1.50em;
}

.btn--full {
  display: block;
  text-align: center;
  /**
   * The following is so that `.btn-full` works properly on `input`s as well
   * as `a`s.
   */
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}