/*------------------------------------*\
    $MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 * E.g.:
 *
   <div class="media">
       <img src="http://placekitten.com/200/300" alt="" class="media__img">
       <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
 *
 * Demo: jsfiddle.net/inuitcss/cf4Qs
 *
 */
.media {
  @extend .cf;
}

.media__img,
.media__img--rev {
  display: block;
}

.media__img {
  float: left;
  margin-right: $base-spacing-unit;

  /**
   * `.img`s in `.islet`s need an appropriately sized margin.
   */
  .islet & {
    margin-right: $half-spacing-unit;
  }
}

/**
 * Reversed image location (right instead of left).
 */
.media__img--rev {
  float: right;
  margin-left: $base-spacing-unit;

  /**
 * `.img`s in `.islet`s need an appropriately sized margin.
 */
  .islet & {
    margin-left: $half-spacing-unit;
  }
}

.media__body {
  margin-bottom: 0;
  overflow: hidden;
}
